*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
.parent,.main{
    height: 100%;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #16232e;
    padding: 10px;
    align-items: center;
}
nav span{
    font-size: 30px;
    color: white;
}
nav .child{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100%;
    width: 225px;
}
nav .child span{
    text-decoration: underline;
    font-size: 20px;
}
nav .child span:hover{
    cursor: pointer;
}
.container{
    width: 100%;
    height: 700px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.container .main{
    display: flex;
    justify-content: space-between;
}
.container .main .menu{
    height: 100%;
    width: 270px;
    background-color: #2b3742;
    position: relative;
}
.container .main .menu h2{
    position: absolute;
    font-size: 35px;
    color: white;
    left: 9%;
    top: 4%;
}
.container .main .menu ul{
    position: absolute;
    top: 13%;
    left: 9%;
    list-style-type: none;
    position: relative;
}

li{
    background-color: #465666;
    padding: 10px;
    width: 199px;
    position: absolute;
    border-radius: 10px;
    font-size: 23px;
    color: white;
}
li:hover{
    cursor: pointer;
}
.Analytics{
    top: 70px;
}
.Messages{
    top: 140px;
}
.Settings{
    top: 210px;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 1196px;
    height: 678px;
    /* border: 2px solid black; */
    position: relative;
}

h1{
    position: absolute;
    top: 20px;
    left: 30px;
}

.cardsSection{
    position: absolute;
    top: 80px;
    left: 30px;
    /* border: 2px solid black; */
    width: 1155px;
    height: 596px;
}
.row1,.row2{
    display: flex;
    justify-content: space-between;
}
.row1{
    margin-top: 30px;
}
.row2{
    margin-top: 70px;
}

.card{
    padding: 15px;
    box-shadow: 0 0 10px black;
    width: 330px;
    height: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card h4{
    font-weight: bold;
    font-size: 27px;
}
.card span{
    font-size: 24px;
}

.footer{
    width: 100%;
    line-height: 72px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a2834;
}
.footer span{
    color: white;
    font-size: 28px;
}